* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    color: #fff;
}
body {
    background:  #191919;
}

.search-section {
    display: flex;
    justify-content:space-around;
    flex-wrap: wrap;
    align-items: center;
    height: 4rem;
    background:  rgba(255, 255, 255, 0.101);
}
.search-section input {
    color: black;
    border-radius: 4rem;
    padding: 0.7rem;
    width: 25rem;
    font-size: 1rem;
    border: none;
}

.search-bar {
    position: relative;
    display: flex;
    align-items: center;
}
.search-section .search {
    cursor: pointer;
    position: absolute;
    right: 0.5rem;
}

nav {
    position: absolute;
    top: 7rem;
    left: 2rem;
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.0055);
    width: 5rem;
    height: 31rem;
    border-radius: 5rem;
    
}

nav svg {
    margin: 1.6rem;
}
nav a:hover {
    transform: scale(1.1);
    transition: all 0.5s ease-out;
}
#fact-display, #map-display, #adm-display, #image-display {
    display: none;
}
.home-section {
    position: absolute;
    top: 10rem;
    left: 10rem;
    display: flex;
    align-items: flex-start;
}
.home-section img {
    width: 30rem;
}
.home-section h1 {
    text-transform: uppercase;
    font-size: 3vw;
}
.home-section h5 {
    font-size: 1vw;
}

.basic-info {
    width: 30vw;
    margin-left: 10vw;
}
.basic-info p {
    margin-top: 2rem;
}
.special-facts {
    position: absolute;
    top: 8rem;
    left: 15rem;
}
.special-facts li {
    font-size: 1.6vw;
    margin-top: 2rem;
}

.map {
    display: flex;
    justify-content: center;
    margin-top: 5rem;
}

.home-btn:hover::after  {
    content: 'Home';
    font-size: 0.8rem;
    position: absolute;
    top: 3.5rem;
    right:1.5rem;
}
.info-btn:hover::after  {
    content: 'Info';
    font-size: 0.8rem;
    position: absolute;
    top: 3.5rem;
    right:2rem;
}
.img-btn:hover::after  {
    content: 'Images';
    font-size: 0.8rem;
    position: absolute;
    top: 3.5rem;
    right:1.3rem;
}
.map-btn:hover::after  {
    content: 'Map';
    font-size: 0.8rem;
    position: absolute;
    top: 3.5rem;
    right:1.9rem;
}

.places-btn:hover::after  {
    content: 'Places around';
    font-size: 0.8rem;
    position: absolute;
    top: 3.5rem;
    left: 1.25rem;
}
.adm-btn:hover::after  {
    content: 'Admission';
    font-size: 0.7rem;
    position: absolute;
    top: 3.5rem;
    left: 0.9rem;
}

.image-slider {
    width: 24vw;
}

.item img {
    width: 20rem;

}


/* shubham's part */

#con1{
    border: 3px solid red;
    border-radius: 3px;
    width: 15vw;
    height: 8vh;
    font-size: large;
    font-style: oblique;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    color: white;  
}

.reviews{

    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 10px 0;
    flex-wrap: wrap;
}
.reviews .card{
    border-radius: 1rem;
    position: relative;
    margin: 0.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 18rem;
    height: 22rem;
    padding: 0.5rem;
    color: wheat;
    background: rgba(255, 255, 255, 0.24);
    font-family: cursive;
    font-style: italic;
    transition: 0.8s;
}
.card:hover{
    transform: scale(1.05);
}
.card span{
    position: absolute;
    top: 2px;
    left: 2px;
    right: 2px;
    bottom: 2px;
    background-color: transparent;
}
.card .content{
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
    padding: 1px 2px;
    margin-bottom: 2vh;
    font-style: italic;

}
.name{
    font-size: x-large;
    font-weight: bolder;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: normal;
    
}

/* h5 {
    margin: 2rem 0 0.5rem 0;
    text-align: center;
} */
